{{ define "main" }}
{{ partial "back_link.html" .}}

<article>
    <p class="post-meta">
        <time datetime="{{ .Date }}">
            {{ .Date | time.Format site.Params.theme_config.date_format }}
        </time>
    </p>

    <h1>{{ .Title }}</h1>
    {{ with .GetTerms "tags" }}
      <span id="tags" class="flex">
        <i class="ri-price-tag-3-fill"></i>
        {{ range . }}
          <span>
              <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
          </span>
        {{ end }}
      </span>
    {{ end }}


    {{ if .Params.toc }}
        <aside {{ if .Params.tocBorder }} class="toc" {{ end }}>
            {{ .TableOfContents }}
        </aside>
    {{ end }}

    {{ .Content }}
</article>

<div id="contact-callout">
    If you have questions or comments (or corrections 😅) on one of my posts, feel free to <a href="mailto:me@danlamanna.com">email me</a> :)
</div>
{{ end }}
